___# Ciência dos Dados - PROJETO 1

Stephanie Wertheimer de Mello

## TÍTULO DO SEU PROJETO

___
## Introdução


Atualmente, o acesso à Internet vem passando por um intenso processo de democratização. O que antes era um prívilégio apenas às camadas economicamente favorecidas, agora está sendo viável à parcela mais pobre da população. De acordo com dados fornecidos pelo IBGE (Instituto Brasileiro de Geografia e Estatística), de 2013 para 2014, o acesso à internet nas residências brasileiras superou os 50%. Em 2013 o índice de casas conectadas era de 48% e em 2014, 54,9%. 
Esse projeto visa investigar se existe relação entre o a condição das moradias no Brasil e seu acesso à internet. A pesquisa será feita utilizando-se a divisão regional do brasileira, comparando a porcentagem de moradias precárias e a porcentagem de acesso à internet em domicílio, em cada região, em 3 diferentes anos.


nivel versus salario minimo


#qual é a relação entre o nível das moradias e o avanço da internet por região, em 2013, 2014 e 2015?

___
## Análise e Resultados

In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
import math

In [2]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\steph\OneDrive\Documents\Engenharia Insper\2° semestre\Ciência dos Dados\Ciencia-dos-Dados-

In [3]:
#Se usar o arquivo compactado como está no dropbox púbico
pnad13 = pd.read_csv('DOM2013csv.zip', compression='zip', header=0, sep=',', quotechar='"')
pnad14 = pd.read_csv('DOM2014csv.zip', compression='zip', header=0, sep=',', quotechar='"')
pnad15 = pd.read_csv('DOM2015csv.zip', compression='zip', header=0, sep=',', quotechar='"')

In [4]:
'''Transformando as Variáveis Qualitativas em Categorias '''

#material parede
pnad13.V0203 = pnad13.V0203.astype('category')
pnad13.V0203.cat.categories = ('Alvenaria', 'MadeiraAparelhada', 'TaipaRevestida', 'MadeiraAproveitada', 'Palha', 'Outro')
pnad14.V0203 = pnad14.V0203.astype('category')
pnad14.V0203.cat.categories = ('Alvenaria', 'MadeiraAparelhada', 'TaipaRevestida', 'MadeiraAproveitada', 'Palha', 'Outro')
pnad15.V0203 = pnad15.V0203.astype('category')
pnad15.V0203.cat.categories = ('Alvenaria', 'MadeiraAparelhada', 'TaipaRevestida', 'MadeiraAproveitada', 'Palha', 'Outro')

#água canalizada
pnad13.V0211 = pnad13.V0211.astype('category')
pnad13.V0211.cat.categories = ('Sim', 'Não')
pnad14.V0211 = pnad14.V0211.astype('category')
pnad14.V0211.cat.categories = ('Sim', 'Não')
pnad15.V0211 = pnad15.V0211.astype('category')
pnad15.V0211.cat.categories = ('Sim', 'Não')

#destino lixo
pnad13.V0218 = pnad13.V0218.astype('category')
pnad13.V0218.cat.categories = ('ColetaDireta', 'ColetaIndireta', 'Queimado/Enterrado', 'TerrenoBaldio', 'JogadoÁgua', 'Outro' )
pnad14.V0218 = pnad14.V0218.astype('category')
pnad14.V0218.cat.categories = ('ColetaDireta', 'ColetaIndireta', 'Queimado/Enterrado', 'TerrenoBaldio', 'JogadoÁgua', 'Outro' )
pnad15.V0218 = pnad15.V0218.astype('category')
pnad15.V0218.cat.categories = ('ColetaDireta', 'ColetaIndireta', 'Queimado/Enterrado', 'TerrenoBaldio', 'JogadoÁgua', 'Outro' )

#internet em domicílio
pnad13.V02322 = pnad13.V02322.astype('category')
pnad13.V02322.cat.categories = ('Sim', 'Não')
pnad14.V02322 = pnad14.V02322.astype('category')
pnad14.V02322.cat.categories = ('Sim', 'Não')
pnad15.V02322 = pnad15.V02322.astype('category')
pnad15.V02322.cat.categories = ('Sim', 'Não')

#forma de saneamento
pnad13.V0217 = pnad13.V0217.astype('category')
pnad13.V0217.cat.categories = ('RedeColetora', 'FossaSeptica1', 'FossaSeptica2', 'FossaRud', 'Vala','Água', 'Outro')
pnad14.V0217 = pnad14.V0217.astype('category')
pnad14.V0217.cat.categories = ('RedeColetora', 'FossaSeptica1', 'FossaSeptica2', 'FossaRud', 'Vala','Água', 'Outro')
pnad15.V0217 = pnad15.V0217.astype('category')
pnad15.V0217.cat.categories = ('RedeColetora', 'FossaSeptica1', 'FossaSeptica2', 'FossaRud', 'Vala','Água', 'Outro')

In [5]:
'''Definindo as Cinco Regiões Brasileiras'''


pnad13.loc[(pnad13.UF==11)|(pnad13.UF==12)|(pnad13.UF==13)|(pnad13.UF==14)|(pnad13.UF==15)|(pnad13.UF==16)|(pnad13.UF==17),'Reg'] = 'Norte'
pnad13.loc[(pnad13.UF==21)|(pnad13.UF==22)|(pnad13.UF==23)|(pnad13.UF==24)|(pnad13.UF==25)|(pnad13.UF==26)|(pnad13.UF==27)|(pnad13.UF==28)|(pnad13.UF==29), 'Reg']='Nordeste'
pnad13.loc[(pnad13.UF==31)|(pnad13.UF==32)|(pnad13.UF==33)|(pnad13.UF==35), 'Reg']='Sudeste'
pnad13.loc[(pnad13.UF==41)|(pnad13.UF==42)|(pnad13.UF==43), 'Reg']='Sul'
pnad13.loc[(pnad13.UF==50)|(pnad13.UF==51)|(pnad13.UF==52)|(pnad13.UF==53), 'Reg']='Centro-Oeste'


pnad14.loc[(pnad14.UF==11)|(pnad14.UF==12)|(pnad14.UF==13)|(pnad14.UF==14)|(pnad14.UF==15)|(pnad14.UF==16)|(pnad14.UF==17),'Reg'] = 'Norte'
pnad14.loc[(pnad14.UF==21)|(pnad14.UF==22)|(pnad14.UF==23)|(pnad14.UF==24)|(pnad14.UF==25)|(pnad14.UF==26)|(pnad14.UF==27)|(pnad14.UF==28)|(pnad14.UF==29), 'Reg']='Nordeste'
pnad14.loc[(pnad14.UF==31)|(pnad14.UF==32)|(pnad14.UF==33)|(pnad14.UF==35), 'Reg']='Sudeste'
pnad14.loc[(pnad14.UF==41)|(pnad14.UF==42)|(pnad14.UF==43), 'Reg']='Sul'
pnad14.loc[(pnad14.UF==50)|(pnad14.UF==51)|(pnad14.UF==52)|(pnad14.UF==53), 'Reg']='Centro-Oeste'


pnad15.loc[(pnad15.UF==11)|(pnad15.UF==12)|(pnad15.UF==13)|(pnad15.UF==14)|(pnad15.UF==15)|(pnad15.UF==16)|(pnad15.UF==17),'Reg'] = 'Norte'
pnad15.loc[(pnad15.UF==21)|(pnad15.UF==22)|(pnad15.UF==23)|(pnad15.UF==24)|(pnad15.UF==25)|(pnad15.UF==26)|(pnad15.UF==27)|(pnad15.UF==28)|(pnad15.UF==29), 'Reg']='Nordeste'
pnad15.loc[(pnad15.UF==31)|(pnad15.UF==32)|(pnad15.UF==33)|(pnad15.UF==35), 'Reg']='Sudeste'
pnad15.loc[(pnad15.UF==41)|(pnad15.UF==42)|(pnad15.UF==43), 'Reg']='Sul'
pnad15.loc[(pnad15.UF==50)|(pnad15.UF==51)|(pnad15.UF==52)|(pnad15.UF==53), 'Reg']='Centro-Oeste'

## Categorização das Moradias

De acordo com o IBGE, em 2013, o PNAD considerou que as paredes poderiam ser feitas de materiais duráveis ou não duráveis, e como vivemos em um país tropical, com muita chuva, o material do qual uma casa é feita colabora para a compreensão da qualidade daquela moradia. Baseado nessa classificação, o material das paredes das casas será classificado com bom, quando for   http://biblioteca.ibge.gov.br/visualizacao/periodicos/59/pnad_2013_v33_br.pdf'

In [20]:
'''Delimitando Dataframe 2013'''

data13 = pd.DataFrame(pnad13.loc[:,['Reg','V0217','V0203','V0211','V0218','V02322','V4621']]).dropna()

data13['Nível']='Médio'


data13.columns=['Região','Saneamento','MaterialParede', 'ÁguaCanalizada', 'DestinoLixo','InternetDomicílio', 'RendMensalPerCapita', 'Nível']


data13.loc[(data13.RendMensalPerCapita != 999999999999), "Renda"] = data13.RendMensalPerCapita

data13 = data13.drop('RendMensalPerCapita', 1)

 


data13.loc[((data13.MaterialParede=='Alvenaria')|(data13.MaterialParede=='MadeiraAparelhada')|(data13.MaterialParede=='TaipaRevestida'))&(data13.ÁguaCanalizada=='Sim')&((data13.DestinoLixo=='ColetaIndireta')|(data13.DestinoLixo=='ColetaDireta'))&(data13.Saneamento=='RedeColetora'), 'Nível']= 'Bom'
data13.loc[((data13.MaterialParede=='MadeiraAproveitada')|(data13.MaterialParede== 'Palha')|(data13.MaterialParede=='Outro'))&(data13.ÁguaCanalizada=='Não')&((data13.DestinoLixo=='Queimado/Enterrado')|(data13.DestinoLixo=='TerrenoBaldio')|(data13.DestinoLixo=='JogadoÁgua')|(data13.DestinoLixo=='Outro'))&((data13.Saneamento=='FossaRud')|(data13.Saneamento=='FossaSeptica1')|(data13.Saneamento=='FossaSeptica2')|(data13.Saneamento=='Vala')|(data13.Saneamento=='Água')|(data13.Saneamento=='Outro')), 'Nível']= 'Ruim'
data13.loc[(data13.Saneamento != "RedeColetora"), "Nível"] = "Ruim"


print("DataFrame 2013")
data13.head()

DataFrame 2013

,Região,Saneamento,MaterialParede,ÁguaCanalizada,DestinoLixo,InternetDomicílio,Nível,Renda
2,Norte,FossaRud,Alvenaria,Sim,ColetaDireta,Não,Ruim,350.0
3,Norte,FossaSeptica1,MadeiraAparelhada,Sim,ColetaDireta,Não,Ruim,339.0
4,Norte,FossaSeptica1,Alvenaria,Sim,ColetaDireta,Não,Ruim,266.0
5,Norte,FossaSeptica1,Alvenaria,Sim,ColetaDireta,Não,Ruim,400.0
6,Norte,FossaSeptica1,Alvenaria,Sim,ColetaDireta,Não,Ruim,411.0

In [21]:
data13.Nível.value_counts()

Bom      60936
Ruim     51589
Médio      696
Name: Nível, dtype: int64

In [8]:
"""Determinação de faixas da variável quantitativa: Renda Mensal Per Capita"""

#o número n, que é o tamanho da amostra, é equivalente ao número de linhas da amostra, ou seja, 119102. 
#o número de faixas deve ser a raíz de n 
#a amplitude de cada faixa deve ser definida por: (valor máximo - valor mínimo)/k

'Determinação de faixas da variável quantitativa: Renda Mensal Per Capita'

In [9]:
n=119102
k=math.sqrt(n)
print("Número de Faixas =", k)

data13.Renda.describe()



amplitude13=82000/k

print("Amplitude = ", amplitude13)

Número de Faixas = 345.1115761605223
Amplitude =  237.6043160078154

In [10]:
data13.Renda.describe()

count    107769.000000
mean       1129.770203
std        1811.620920
min           0.000000
25%         371.000000
50%         678.000000
75%        1200.000000
max       82000.000000
Name: Renda, dtype: float64

In [11]:
faixa = range(0,82250,250)

rendacat13 = pd.cut(data13.Renda, bins=faixa, right=True)
print('Frequências relativas:')
ut1 = (rendacat13.value_counts(sort=False, normalize=True)*100).round(decimals=20)
print(ut1,'\n')

Frequências relativas:
(0, 250]          12.533813
(250, 500]        22.405183
(500, 750]        21.201173
(750, 1000]       12.544216
(1000, 1250]       7.415114
(1250, 1500]       6.233803
(1500, 1750]       3.017119
(1750, 2000]       2.935780
(2000, 2250]       1.518018
(2250, 2500]       1.617327
(2500, 2750]       0.964721
(2750, 3000]       1.176582
(3000, 3250]       0.589237
(3250, 3500]       0.725433
(3500, 3750]       0.410480
(3750, 4000]       0.652606
(4000, 4250]       0.253476
(4250, 4500]       0.387780
(4500, 4750]       0.209969
(4750, 5000]       0.479523
(5000, 5250]       0.135250
(5250, 5500]       0.231722
(5500, 5750]       0.122955
(5750, 6000]       0.250638
(6000, 6250]       0.099310
(6250, 6500]       0.134304
(6500, 6750]       0.099310
(6750, 7000]       0.169299
(7000, 7250]       0.066206
(7250, 7500]       0.102147
                    ...
(74500, 74750]     0.000000
(74750, 75000]     0.000000
(75000, 75250]     0.000000
(75250, 75500]     0.000000
(75500, 75750]     0.000000
(75750, 76000]     0.000000
(76000, 76250]     0.000000
(76250, 76500]     0.000000
(76500, 76750]     0.000000
(76750, 77000]     0.000000
(77000, 77250]     0.000000
(77250, 77500]     0.000000
(77500, 77750]     0.000000
(77750, 78000]     0.000000
(78000, 78250]     0.000000
(78250, 78500]     0.000000
(78500, 78750]     0.000000
(78750, 79000]     0.000000
(79000, 79250]     0.000000
(79250, 79500]     0.000000
(79500, 79750]     0.000000
(79750, 80000]     0.000946
(80000, 80250]     0.000000
(80250, 80500]     0.000000
(80500, 80750]     0.000000
(80750, 81000]     0.000000
(81000, 81250]     0.000000
(81250, 81500]     0.000000
(81500, 81750]     0.000000
(81750, 82000]     0.000946
Name: Renda, Length: 328, dtype: float64

In [12]:
'''Delimitando Dataframe 2014'''

data14 = pd.DataFrame(pnad13.loc[:,['Reg','V0203','V0211','V0218','V02322','V4621']]).dropna()

data14.columns=['Região','MaterialParede', 'ÁguaCanalizada', 'DestinoLixo','InternetDomicílio', 'RendMensalPerCapita']


data14.loc[(data14.RendMensalPerCapita != 999999999999), "Renda"] = data14.RendMensalPerCapita

data14 = data14.drop('RendMensalPerCapita', 1)

print("DataFrame 2014")
data14.head()

DataFrame 2014

,Região,MaterialParede,ÁguaCanalizada,DestinoLixo,InternetDomicílio,Renda
2,Norte,Alvenaria,Sim,ColetaDireta,Não,350.0
3,Norte,MadeiraAparelhada,Sim,ColetaDireta,Não,339.0
4,Norte,Alvenaria,Sim,ColetaDireta,Não,266.0
5,Norte,Alvenaria,Sim,ColetaDireta,Não,400.0
6,Norte,Alvenaria,Sim,ColetaDireta,Não,411.0

In [13]:
'''Delimitando Dataframe 2015'''

data15 = pd.DataFrame(pnad13.loc[:,['Reg','V0203','V0211','V0218','V02322','V4621']]).dropna()

data15.columns=['Região','MaterialParede', 'ÁguaCanalizada', 'DestinoLixo','InternetDomicílio', 'RendMensalPerCapita']

data15.loc[(data15.RendMensalPerCapita != 999999999999), "Renda"] = data15.RendMensalPerCapita

data15 = data15.drop('RendMensalPerCapita', 1)

print("DataFrame 2015")
data15.head()

DataFrame 2015

,Região,MaterialParede,ÁguaCanalizada,DestinoLixo,InternetDomicílio,Renda
2,Norte,Alvenaria,Sim,ColetaDireta,Não,350.0
3,Norte,MadeiraAparelhada,Sim,ColetaDireta,Não,339.0
4,Norte,Alvenaria,Sim,ColetaDireta,Não,266.0
5,Norte,Alvenaria,Sim,ColetaDireta,Não,400.0
6,Norte,Alvenaria,Sim,ColetaDireta,Não,411.0

In [14]:
print('MATERIAL PAREDE')

parede15 = (data15.MaterialParede.value_counts(sort=False, normalize=True)*100).round(decimals=2)

parede15

MATERIAL PAREDE

Alvenaria             90.98
MadeiraAparelhada      7.63
TaipaRevestida         0.72
MadeiraAproveitada     0.42
Palha                  0.03
Outro                  0.22
Name: MaterialParede, dtype: float64

In [15]:
print('MATERIAL TELHADO')

telhado15 = (data15.MaterialTelhado.value_counts(sort=False, normalize=True)*100).round(decimals=2)

telhado15

MATERIAL TELHADO

AttributeError: 'DataFrame' object has no attribute 'MaterialTelhado'

In [ ]:
print('ÁGUA CANALIZADA')

agua15 = (data15.ÁguaCanalizada.value_counts(sort=False, normalize=True)*100).round(decimals=2)

agua15

In [ ]:
print('BANHEIRO DOMICÍLIO')

banheiro15 = (data15.BanheiroDomicílio.value_counts(sort=False, normalize=True)*100).round(decimals=2)

banheiro15

In [ ]:
print('DESTINO LIXO')

lixo15 = (data15.DestinoLixo.value_counts(sort=False, normalize=True)*100).round(decimals=2)

lixo15

In [ ]:
print('INTERNET DOMICÍLIO 2013')

internet13 = (data13.InternetDomicílio.value_counts(sort=False, normalize=True)*100).round(decimals=8)

internet13

In [ ]:
print('INTERNET DOMICÍLIO 2014')

internet14 = (data14.InternetDomicílio.value_counts(sort=False, normalize=True)*100).round(decimals=8)

internet14

In [ ]:
print('INTERNET DOMICÍLIO 2015')

internet15 = (data15.InternetDomicílio.value_counts(sort=False, normalize=True)*100).round(decimals=2)

internet15

In [ ]:
'''Evolução da Internet'''
colors=['g', 'r']
fig = plt.figure(figsize=(15, 5))
plt.subplot(131)
plot = internet13.plot(kind='pie',title='2013', colors=colors ,autopct='%.1f')


plt.subplot(132)
plot = internet14.plot(kind='pie',title='2014', colors=colors ,autopct='%.1f')

plt.subplot(133)
plot = internet15.plot(kind='pie',title='2015', colors=colors ,autopct='%.1f')

plt.tight_layout()
plt.show()

In [ ]:
#Tabela cruzada Internet x Região
print('Tabela Cruzada: Internet por Região em 2015 - geral')
ct=pd.crosstab(data15.Região, data15.InternetDomicílio, margins=True, rownames=['Região'], colnames=['Situação Internet'])
ct=ct.loc[['Norte','Nordeste','Sudeste', 'Sul','Centro-Oeste','All']]
ct

In [ ]:
#print('Tabela Cruzada: Internet por Região em 2015 em % ')
#ctp=(pd.crosstab(data15.Região, data15.InternetDomicílio, margins=True, rownames=['Região'], colnames=['Situação Internet'], normalize=True)*100).round(decimals=1)
#ctp

In [ ]:
print('Tabela Cruzada por total de Regiões/Linhas em % - 2015')
ctx=(pd.crosstab(data15.Região, data15.InternetDomicílio, margins=True,  rownames=['Região'], colnames=['Situação Internet'], normalize='index')*100).round(decimals=1)
ctx

In [ ]:
plot = ctx.plot(kind='bar', stacked=True,title='Presença de Internet em Domicílio em cada Região em 2015', color=('g', 'r'))
plt.ylabel('Freq.Relativa (em %)')

#Para legenda ficar fora do gráfico
ax = plt.subplot(111)
box = ax.get_position()
ax.set_position([box.x0, box.y0, box.width * 0.8, box.height])
ax.legend(loc='center left', bbox_to_anchor=(1, 0.5))

In [ ]:
## Conclusão

Descreva aqui suas conclusões!